<nav class="right_menu_togle mobile-navbar-menu" id="mobile-navbar-menu">
    <div class="close-btn">
        <a id="nav-close2" class="nav-close" href="#">
            <div class="line">
                <span class="line1"></span>
                <span class="line2"></span>
            </div>
        </a>
    </div>
    <ul class="nav-menu">
        <li class="menu-item-has-children current-menu-item">
            <a href="{% url 'home' %}">Home</a>
        <li class="menu-item-has-children">
            <a href="{% url 'home' %}#products">Products</a>
        </li>
        <li class="menu-item-has-children">
            <a href="{% url 'home' %}#projects">Projects</a>
        </li>
        <li class="menu-item-has-children">
            <a href="{% url 'home' %}#testimonials">Testimonials</a>
        </li>
        <li>
            <a href="{% url 'home' %}#contact">Contact</a>
        </li>
    </ul> <!-- //.nav-menu -->
    <div class="canvas-contact">
        {% for addr in address %}
        <div class="address-area">
            <div class="address-list">
                <div class="info-icon">
                    <i class="flaticon-location"></i>
                </div>
                <div class="info-content">
                    <h4 class="title">Address</h4>
                    <em>{{ addr.location_line_1 }}<br>{{ addr.location_line_2 }}<br>{{addr.location_line_3}}</em>
                </div>
            </div>
            <div class="address-list">
                <div class="info-icon">
                    <i class="flaticon-email"></i>
                </div>
                <div class="info-content">
                    <h4 class="title">Email</h4>
                    <em><a href="mailto:{{addr.email}}">{{addr.email}}</a></em>
                </div>
            </div>
            <div class="address-list">
                <div class="info-icon">
                    <i class="flaticon-call"></i>
                </div>
                <div class="info-content">
                    <h4 class="title">Phone</h4>
                    <em>{{addr.mobile_number}}</em>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</nav>
