<style>
    .card-page {
        margin: 3%;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        //Hide all cards
        $(".card-deck").each(function (index, value) {
            $('.second').hide();
        })


        $(".page-link").on('click', function () {

            $(".page-link").each(function (index, value) {
                $(value).parent().removeClass("active");
            });

            //Hide all cards
            $(".card-deck").each(function (index, value) {
                $('.card-deck').hide();
            })

            $(this).parent().addClass("active");
            var cardId = "#" + $(this).text();
            $(cardId).show();
        });

    });
</script>
<div class="container text-center my-3">
    <h2 class="font-weight-light">Our New Design</h2>

    <!--Card-->
    <div id="1" class="card-deck">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>


        </div>
    </div>



    <!--Card-->
    <div id="2" class="card-deck second">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>

            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>

    <div id="3" class="card-deck second">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>

            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>


    <div id="4" class="card-deck second">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card card-page">
                    <img src="https://mdbootstrap.com/img/new/standard/city/053.jpg." class="card-img-top" alt="...">
                </div>

            </div>
        </div>
    </div>

    <nav style="float:right;">
        <ul class="pagination pg-red">

            <!--Numbers-->
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item"><a class="page-link">4</a></li>

        </ul>
    </nav>
</div>