<style>
    .modal-header {
        color: #08304b;
        background-color: #baa08f
    }

    .textarea-section {
        border: none;
        box-shadow: none !important;
        -webkit-appearance: none;
        outline: 1px !important;
        margin: 3%;
        width: 93%;
    }


    .icon1 {
        color: #08304b
    }

    a {
        margin: auto
    }

    input {
        color: #08304b
    }
    .feedback_name_{
        width: 93%;
        margin-left: 3%;
    }
</style>
<!--Division for Modal-->
<form action="{% url 'feedback' %}" method="POST">
    {% csrf_token %}
<div id="myModal" class="modal fade" role="dialog">
    <!--Modal-->
    <div class="modal-dialog">
        <!--Modal Content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h3>Feedback Form</h3>
                <!--Close/Cross Button--> <button type="button" class="close" data-dismiss="modal"
                    style="color: white;">&times;</button>
            </div> <!-- Modal Body-->
            <div class="modal-body text-center"> <i class="far fa-file-alt fa-4x mb-3 animated rotateIn icon1"></i>
                <h3>Your opinion matters</h3>
                <h5>Help us improve our product? <strong>Give us your feedback.</strong></h5>
                <hr>
                <h6>Your Rating</h6>
            </div> <!-- Radio Buttons for Rating-->
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control feedback_name_" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group">
                    <input type="number" class="form-control feedback_name_" name="mobile" id="number" placeholder="Your Contact No."
                        required>
                </div>
            </div>
            <div class="form-check mb-4"> <input name="feedback" type="radio"> <label class="ml-3">Very good</label>
            </div>
            <div class="form-check mb-4"> <input name="feedback" type="radio"> <label class="ml-3">Good</label> </div>
            <div class="form-check mb-4"> <input name="feedback" type="radio"> <label class="ml-3">Mediocre</label>
            </div>
            <div class="form-check mb-4"> <input name="feedback" type="radio"> <label class="ml-3">Bad</label> </div>
            <div class="form-check mb-4"> <input name="feedback" type="radio"> <label class="ml-3">Very Bad</label>
            </div>
            <!--Text Message-->
            <div class="text-center">
                <h4>What could we improve?</h4>
                <div class="form-group mt-3">
                    <textarea class="form-control textarea-section" name="message" rows="5" placeholder="Message"
                        required></textarea>
                </div> <!-- Modal Footer-->
                <div class="modal-footer"> <button type="submit" class="btn btn-primary">Send <i class="fa fa-paper-plane"></i>
                </button> <a href="" class="btn btn-outline-primary" data-dismiss="modal">Cancel</a> </div>
            </div>
        </div>
    </div>
</form>