<meta charset="utf-8">
{% for title in headers %}
<title>{{ title.name }}</title>
{% endfor %}
<meta name="description" content="">
<!-- responsive tag -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Bootstrap v4.4.1 css -->

<!-- font-awesome css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/css-font-awesome.min.css' %}">
<!-- flaticon css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/fonts-flaticon.css' %}">
<!-- animate css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/css-animate.css' %}">
<!-- owl.carousel css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/css-owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/css-slick.css' %}">
<!-- off canvas css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/css-off-canvas.css' %}">
<!-- magnific popup css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/css-magnific-popup.css' %}">
<!-- Main Menu css -->
<link rel="stylesheet" href="{% static 'css/css-rsmenu-main.css' %}">
<!-- nivo slider CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/css-nivo-slider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/css-preview.css' %}">
<!-- spacing css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/css-rs-spacing.css' %}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/archtek-style.css' %}"> <!-- This stylesheet dynamically changed from style.less -->
<!-- responsive css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/css-responsive.css' %}">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'details/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'details/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'details/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'details/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'details/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'details/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'details/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'details/css/style.css' %}" rel="stylesheet">