{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="offwrap"></div>
<div class="main-content">
    <div class="full-width-header">
        <header id="rs-header" class="rs-header home3-header-style1">
            {% include "topbar.html" %}
            {% include 'menu.html' %}
            {% include 'canvas.html' %}
            {% include 'canvas_mobile.html' %}
        </header>
    </div>
    {% for head_content in headers %}
    <div id="rs-banner" class="rs-banner style2" style="background-image: url({{head_content.image.url}}); background-position:center;">
        <div class="container">
            <div class="content-part">
                <span class="sub-text wow fadeInDown" data-wow-delay="2000ms" data-wow-duration="1500ms">{{head_content.header_title_1}}</span>
                <h2 class="title pb-28 wow fadeInLeft" data-wow-delay="2000ms" data-wow-duration="2500ms">{{head_content.header_title_2}}
                </h2>
                <p class="desc-part wow fadeInLeft" data-wow-delay="2500ms" data-wow-duration="3000ms">Lorem ipsum dolor
                    {{ head_content.para }}</p>
                <ul class="btn-part mt-30">
                    <li><a class="readon view wow fadeInLeft" data-wow-delay="3000ms" data-wow-duration="4000ms"
                            href="#projects">View Projects</a></li>
                    <li><a class="readon view wow fadeInDown" data-wow-delay="2800ms" data-wow-duration="3500ms"
                            href="#contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
    
    {% include 'slider_1.html' %}
    {% include 'projects.html' %}
    {% include 'testimonial.html' %}
    {% include 'contact.html' %}


    <footer id="rs-footer" class="rs-footer style1">
        <div class="footer-top">
            <div class="container-fluid2">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
                        <div class="footer-logo mb-40">
                            <a href="index.html"><img src="" alt=""></a>
                        </div>
                        <ul class="footer-social md-mb-30">
                            <li>
                                <a href="#" target="_blank"><span><i class="fa fa-facebook"></i></span></a>
                            </li>
                            <li>
                                <a href="#%20" target="_blank"><span><i class="fa fa-twitter"></i></span></a>
                            </li>

                            <li>
                                <a href="#%20" target="_blank"><span><i class="fa fa-pinterest-p"></i></span></a>
                            </li>
                            <li>
                                <a href="#%20" target="_blank"><span><i class="fa fa-instagram"></i></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
                        <h3 class="footer-title">Contact Info</h3>
                        {% for addr in address %}
                        <ul class="address-widget">
                            <li>
                                <i class="flaticon-location"></i>
                                <div class="desc">{{ addr.location_line_1 }}<br>{{ addr.location_line_2 }}<br>{{addr.location_line_3}}</div>
                            </li>
                            <li>
                                <i class="flaticon-call"></i>
                                <div class="desc">
                                    <a href="tel:{{addr.mobile_number}}">{{addr.mobile_number}}</a>
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-email"></i>
                                <div class="desc">
                                    <a href="mailto:{{addr.email}}">{{addr.email}}</a>
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10 pl-55 md-pl-15">
                        <h3 class="footer-title">Menu</h3>
                        <ul class="site-map">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <h3 class="footer-title">Subscribe</h3>
                        <p class="rs-view-btn">
                            <input type="email" name="sub_email" placeholder="Enter Your Email" required="">
                            <span class="subscribebtn"><input type="submit" value="Subscribe Now"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="copyright text-center">
                            <p>2021 All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Footer End -->

    <!-- start scrollUp  -->
    <div id="scrollUp" class="orange-color">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->


    <!-- Search Modal Start -->
    <div class="modal fade search-modal" id="searchModal" tabindex="-1">
        <button type="button" class="close" data-bs-dismiss="modal">
            <span class="flaticon-cross"></span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here..." type="text">
                            <button type="submit" value="Search"><i class="flaticon-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form action="{% url 'feedback' %}" method="POST">{% include 'feedback.html' %}</form>
    
    
    <!-- Search Modal End -->


    {% endblock content %}