{% load static %}
<div class="menu-area menu-area2 menu-sticky">
    <div class="menu-type-style">
        <div class="container">
            <div class="row-table">
                <div class="col-cell">
                    <div class="logo-area">
                        <a href="#">
                            <img src="" alt="logo-area">
                        </a>
                    </div>
                </div>
                <div class="col-cell">
                    <ul class="rs-contact-info">
                        <li class="contact-part">
                            <i class="flaticon-email"></i>
                            <span class="contact-info">
                                <span>E-mail</span>
                                <a href="mailto:support@rstheme.com">support@rstheme.com</a>
                            </span>
                        </li>
                        <li class="contact-part">
                            <i class="flaticon-call"></i>
                            <span class="contact-info">
                                <span>Call Us Now</span>
                                <a href="tel:+(+01)555-555-4444"> (+01) 555 - 555 - 4444</a>
                            </span>
                        </li>
                        <li class="contact-part no-border">
                            <i class="flaticon-location"></i>
                            <span class="contact-info">
                                <span>110,old Street</span>
                                Old Traford, England   
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-cell">
                    <div class="expand-btn-inner">                                       
                        <ul>
                            <li class="humburger">
                                <a id="nav-expander" class="nav-expander bar" href="#">
                                    <div class="bar">
                                        <span class="dot1"></span>
                                        <span class="dot2"></span>
                                        <span class="dot3"></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-inner">
        <div class="container">
            <div class="row-table">
                <div class="col-cell menu-responsive">
                    <div class="rs-menu-area">
                        <div class="main-menu">
                           <nav class="rs-menu hidden-md">
                               <ul class="nav-menu onepage-menu">
                                   <li class="current-menu-item"><a href="#rs-header">Home</a></li>
                                   <li><a href="#rs-about">About</a> </li>
                                   <li><a href="#rs-services">Services</a> </li>
                                   <li><a href="#rs-team">Team</a> </li>
                                   <li><a href="#rs-blog">Blog</a> </li>
                                   <li><a href="#rs-contact">Contact</a> </li>
                               </ul> <!-- //.nav-menu -->
                           </nav>

                        </div> <!-- //.main-menu -->
                    </div>
                    <div class="expand-btn-inner">                                       
                        <ul>
                            <li class="search-parent">
                                <a class="hidden-xs rs-search" data-bs-toggle="modal" data-bs-target="#searchModal" href="#">
                                    <i class="flaticon-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-cell">
                    <div class="btn-quotes">
                        <a href="#" class="quote-buttons">Get In Touch Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>