{%load static %}

<section id="projects" class="portfolio">
    <div class="container text-center my-3">

      <div class="section-title" data-aos="fade-up">
        <h2 class="font-weight-light">Our Projects</h2>
      </div>
      
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            {% for proj in projects %}
            <li data-filter=".filter-{{ proj.filer_tag }}">{{ proj.filer_tag }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        {% for proj in projects %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-{{ proj.filer_tag }}">
          <div class="portfolio-wrap">
            <img src="{{ proj.img.url }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{ proj.project_name }}</h4>
              <p>{{ proj.disc|safe }}</p>
              <div class="portfolio-links">
                <a href="{{ proj.img.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="{% url 'project_detail' proj.id %}" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section><!-- End Portfolio Section -->