{% extends 'base2.html' %}
{% block content %}
<div class="offwrap"></div>
<div class="main-content">
    <div class="full-width-header">
        <header id="rs-header" class="rs-header home3-header-style1">
            {% include 'menu.html' %}
            {% include 'canvas.html' %}
            {% include 'canvas_mobile.html' %}
        </header>
    </div>

  <main id="main" style="margin-top:10%;">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                {% for img in data %}
                <div class="swiper-slide">
                  <img src="{{ img.img.url }} " alt="">
                </div>
                {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: {{ data.category }}</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <p>
                {{ data.disc|safe}}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock content %}