{% for cat in  categories %}
    <div class="container text-center my-3">
        <h2 class="font-weight-light">{{cat.name}}</h2>
        <div class="row mx-auto my-auto">
            <div id="Carousel_{{cat.id}}" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" style="height: 225px;" src="https://i.picsum.photos/id/1068/7117/4090.jpg?hmac=Y6xHXrzHsNlbRTbhzZ53Yk-Ux9lUECBLbbP4wb5a1qY">
                            </div>
                        </div>
                    </div>
                    {% for prod in products %}
                    {% if prod.category.id == cat.id %}
                    <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" style="height: 225px;" src="{{prod.img.img.url }}">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev w-auto" href="#Carousel_{{cat.id}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next w-auto" href="#Carousel_{{cat.id}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <script>
        $('#Carousel_{{cat.id}}').carousel({
            interval: 10000
          })
          
          $('.carousel .carousel-item').each(function(){
              var minPerSlide = 4;
              var next = $(this).next();
              if (!next.length) {
              next = $(this).siblings(':first');
              }
              next.children(':first-child').clone().appendTo($(this));
              
              for (var i=0;i<minPerSlide;i++) {
                  next=next.next();
                  if (!next.length) {
                      next = $(this).siblings(':first');
                    }
                  
                  next.children(':first-child').clone().appendTo($(this));
                }
          });
    </script>
{% endfor %}