
    <div class="container text-center my-3">
        <h2 class="font-weight-light">Our Outstanding Designs For Home Decoration</h2>
        <div class="row mx-auto my-auto">
            <div id="Carousel_3" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/new/standard/city/053.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/new/standard/city/053.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/new/standard/city/053.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/new/standard/city/053.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/new/standard/city/053.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/new/standard/city/053.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/new/standard/city/053.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/new/standard/city/053.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/new/standard/city/053.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/new/standard/city/053.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/new/standard/city/053.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev w-auto" href="#Carousel_3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next w-auto" href="#Carousel_3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <script>
        $('Carousel_3').carousel({
            interval: 10000
          })
          
          $('.carousel .carousel-item').each(function(){
              var minPerSlide = 4;
              var next = $(this).next();
              if (!next.length) {
              next = $(this).siblings(':first');
              }
              next.children(':first-child').clone().appendTo($(this));
              
              for (var i=0;i<minPerSlide;i++) {
                  next=next.next();
                  if (!next.length) {
                      next = $(this).siblings(':first');
                    }
                  
                  next.children(':first-child').clone().appendTo($(this));
                }
          });
    </script>
</body>

</html>